/* Global */
:root {
  /* App Colors */
  /* 한단계 더 추상화 해서 사용 */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color--accent: var(--color-blue);
  --color--accent-variant: var(--color-orange);
  --color--text: var(--color-white);

  /* Colors */

  --color-white: #ffffff;

  --color-black: #050a13;

  --color-blue: #03e8f9;

  --color-orange: #fd6413;

  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color--text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: 1px solid var(--color--accent);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem;
}

/* Header */
.header {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  /* 수평으로 */
  display: flex;
  /* 중간 비우고 정렬 */
  justify-content: space-between;
  /* 수직정렬 */
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;

  gap: 8px;
}

/* .header__logo img 다음 처럼도 사용 가능하지만 이건 해당
클래스를 검색하는것이 아닌 해당 클래스의 모든 img중에 검색을해서
성능적으로 별로임 */

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  /* rem은 상대적인 유닛 현재 브라우저의 기본 폰트사이즈에 1.8배함 */
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__itme {
  padding: 8px 16px;
}

.header__menu__itme:hover {
  border-bottom: 1px solid var(--color--accent);
}

.header__menu__itme.active {
  border: 1px solid var(--color--accent);
  border-radius: 4px;
}

/* HOME */
#home {
  background-color: var(--color-primary);
  color: var(--color--text);
  padding: 4rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  /* 사진 짤려서 컨테인씀 */
  object-fit: contain;
  border-radius: 100%;
  border: 3px solid var(--color--accent);
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--color--accent);
}

.home__description {
  font-size: 1.3rem;
}

.home__contact {
  display: inline-block;
  background-color: var(--color--accent);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color--text);
  /* 보더에 대한 컨텐츠 밀림현상을 방지하려면 outline 쓰기
  아는 outline이 요소 콘텐츠 밖에 그려지며 절대 공간을 차지하지 않기때문이다 */
  outline: 2px solid var(--color--accent);
}
